{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": false
            }
        ],
        "@babel/preset-react",
        "@babel/preset-typescript"
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        [
            "@babel/plugin-transform-runtime",
            {
                "moduleName": "@babel/runtime-corejs3"
            }
        ],
        ["polyfill-corejs3", { "method": "usage-pure" }]
    ]
}
