{
    "customSyntax": "postcss-less",
    "extends": [
        "stylelint-config-standard",
        "stylelint-config-prettier"
    ],
    "plugins": [
        "stylelint-order",
        "stylelint-prettier"
    ],
    "rules": {
        "order/order": [
            "custom-properties",
            "declarations"
        ],
        "order/properties-order": [
            "width",
            "height"
        ],
        "prettier/prettier": true,
        "selector-pseudo-element-no-unknown": [
            true,
            {
                "ignorePseudoElements": [
                    "input-placeholder"
                ]
            }
        ],
        "function-no-unknown": [
            true,
            {
                "ignoreFunctions": [
                    "fade",
                    "extract",
                    "darken"
                ]
            }
        ],
        "selector-not-notation": null,
        "no-descending-specificity": null,
        "keyframes-name-pattern": null
    }
}
