@import './variables.less';
@import './themes/@{so-theme}.less';

@alert-prefix: ~'@{so-prefix}-alert';

//
// Alerts
// --------------------------------------------------

// Base styles
// -------------------------

.@{alert-prefix} {
  position: relative;
  display: flex;
  padding: @alert-padding-y @alert-padding-x;
  margin-bottom: @line-height-computed;
  border: @alert-border-width solid transparent;
  border-radius: @alert-border-radius;
  transform-origin: 0 0;
  transition: transform 0.216s, opacity 0.216s ease-out;
  font-size: @alert-font-size;

  // Headings for larger alerts
  h2,
  h3,
  h4 {
    margin-top: 0.3em;
    // Specified for the h4 to prevent conflicts of changing @headings-color
    color: inherit;
  }

  &-with-close {
    padding-right: @alert-padding-x + 20;
  }

  // Provide class for links that match alerts
  &-link {
    font-weight: @alert-link-font-weight;
  }

  &-close {
    position: absolute;
    // line-height: 1;
    top: @alert-padding-y;
    right: 12px;
    display: block;
    cursor: pointer;
    svg {
      width: 10px;
      height: 10px;

      path {
        fill: @alert-close-color;
      }
    }

    &:hover svg path {
      fill: @alert-close-hover-color;
    }
  }

  /* animation  */
  &-dismissed {
    opacity: 0;
    transform: scaleY(0);
  }

  &-icon {
    display: block;
    margin-top: 1px;
  }

  &-content {
    flex: 1;
    word-break: break-all;
  }

  // Improve alignment and spacing of inner content
  > p,
  > ul {
    margin-bottom: 0;
  }

  > p + p {
    margin-top: 5px;
  }

  h2,
  h3,
  h4 {
    margin-top: 0;
  }

  &-default {
    .alert-variant(@alert-default-bg; @alert-default-border; @alert-default-text; @alert-box-shadow);
  }

  &-info {
    .alert-variant(@alert-info-bg; @alert-info-border; @alert-info-text; @alert-info-box-shadow);

    .@{alert-prefix}-icon path {
      fill: @colors-info;
    }
  }

  &-warning {
    .alert-variant(@alert-warning-bg; @alert-warning-border; @alert-warning-text; @alert-warning-box-shadow);

    .@{alert-prefix}-icon path {
      fill: @colors-warning;
    }
  }

  &-success {
    .alert-variant(@alert-success-bg; @alert-success-border; @alert-success-text; @alert-success-box-shadow);

    .@{alert-prefix}-icon path {
      fill: @colors-success;
    }
  }

  &-danger,
  &-error {
    .alert-variant(@alert-danger-bg; @alert-danger-border; @alert-danger-text; @alert-danger-box-shadow);

    .@{alert-prefix}-icon path {
      fill: @colors-danger;
    }
  }

  // 从spin引入的组件 特殊模块化
  &-loading {
    display: inline-flex;
    margin: 0 auto 20px;
    border-color: var(--message-border-color, var(--gray-200, #e9ecef));
    background: #fff;
    box-shadow: var(--message-box-shadow, 0 6px 12px rgba(0, 0, 0, 0.175));
    color: var(--message-text-color, #333);
    font-weight: var(--message-font-weight, 400);
    align-items: center;
    .@{alert-prefix}-loading-icon {
      display: block;
      margin-top: 1px;
      margin-right: 10px;
    }
  }
}
