@import './variables.less';
@import './themes/@{so-theme}.less';

@loading-prefix: ~'@{so-prefix}-loading';

.@{loading-prefix}{
  position: fixed;
  z-index: 1001;
  left: 0;
  top:0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.6);


  &-line{
    height: 100%;
    transition:width .2s ease-in-out;
    background-color: @colors-primary;
  }

  &-error{
    background-color: @colors-danger !important;
  }

  &-inner{
    margin: -17.5px auto 0;
    position: relative;
    text-align: center;
    top: 50%;
  }
}



