@import './variables.less';
@import './themes/@{ethan-theme}.less';
@modal-prefix: ~'@{ethan-prefix}-modal';
@card-prefix: ~'@{ethan-prefix}-card';
@zoom-out: cubic-bezier(0.78, 0.14, 0.15, 0.86);
@zoom-in: cubic-bezier(0.08, 0.82, 0.17, 1);

@keyframes scale-in {
    0% {
        transform: scale(0.2);
    }

    100% {
        transform: scale(1) translate(0, 0);
    }
}

@keyframes scale-out {
    0% {
        transform: scale(1) translate(0, 0);
    }

    100% {
        transform: scale(0.2);
    }
}

.@{modal-prefix} {
    position: fixed;
    z-index: @zindex-modal;
    top: 0;
    left: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;

    &-mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &-panel {
        padding: @modal-panel-padding;
        text-align: left;
        margin: 0 auto;
    }

    &-title {
        color: @modal-title-color;
        font-size: @modal-title-font-size;
        font-weight: 500;
        font-family: @modal-title-font;
        line-height: 1.5;
        padding-right: @modal-title-distance-to-right;

        &.@{modal-prefix}-with-icon {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        .@{modal-prefix}-icon {
            margin-right: 8px;
            width: @modal-default-title-icon-size;
            height: @modal-default-title-icon-size;
            display: flex;

            svg {
                width: @modal-default-title-icon-size;
                height: @modal-default-title-icon-size;
                font-size: @modal-default-title-icon-size;
            }
        }
    }

    & &-body {
        padding: 40px 40px 20px 70px;

        .@{modal-prefix}-title {
            margin-bottom: 8px;
        }

        .@{modal-prefix}-icon {
            position: absolute;
            top: @modal-icon-top;
            left: @modal-icon-left;
            width: @modal-icon-size;
            height: @modal-icon-size;
        }
    }

    &-position {
        overflow-x: hidden;
        overflow-y: hidden;
    }

    &-enter,
    &-leave {
        display: block;
    }

    &-enter-start {
        .@{modal-prefix}-mask {
            opacity: 0;
        }

        .@{modal-prefix}-panel {
            opacity: 0;
            transform: translateY(-100px);
        }

        .@{modal-prefix}-right {
            transform: translate(100%, 0);
        }

        .@{modal-prefix}-left {
            transform: translate(-100%, 0);
        }

        .@{modal-prefix}-top {
            transform: translate(0, -100%);
        }

        .@{modal-prefix}-bottom {
            transform: translate(0, 100%);
        }
    }

    &-enter-active {
        .@{modal-prefix}-mask {
            opacity: 1;
            transition: opacity 0.3s @zoom-in;
        }

        .@{modal-prefix}-panel {
            opacity: 1;
            transition: opacity 0.3s @zoom-in;
            transform: scale(1) translate(0, 0);

            &:not(.@{card-prefix}-dragging) {
                transition: transform 0.3s @zoom-in, opacity 0.3s @zoom-in;
            }
        }
    }

    &-leave-start {
        .@{modal-prefix}-mask {
            opacity: 1;
        }

        .@{modal-prefix}-panel {
            opacity: 1;
            transform: scale(1) translate(0, 0);
        }
    }

    &-leave-active {
        opacity: 0;
        transition: opacity 0.3s @zoom-out; // 用于触发Motion leave end事件

        .@{modal-prefix}-mask {
            opacity: 0;
            transition: opacity 0.3s @zoom-out;
        }

        .@{modal-prefix}-panel {
            opacity: 0;
            transform: translateY(-100px);
            transition: transform 0.3s @zoom-out, opacity 0.3s @zoom-out;
        }

        .@{modal-prefix}-right {
            transform: translate(100%, 0);
        }

        .@{modal-prefix}-left {
            transform: translate(-100%, 0);
        }

        .@{modal-prefix}-top {
            transform: translate(0, -100%);
        }

        .@{modal-prefix}-bottom {
            transform: translate(0, 100%);
        }
    }

    &-hidden {
        display: none;
    }

    &-right {
        top: 0;
        right: 0;
        bottom: 0;
        margin: 0;
    }

    &-left {
        top: 0;
        bottom: 0;
        left: 0;
        margin: 0;
        transform: translate(-100%, 0);
    }

    &-top {
        top: 0;
        right: 0;
        left: 0;
        margin: 0;
        transform: translate(0, -100%);
    }

    &-bottom {
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0;
        transform: translate(0, 100%);
    }

    &-top,
    &-bottom {
        max-width: 100%;
    }

    &-success &-icon path {
        fill: @colors-success;
    }

    &-info &-icon path {
        fill: @colors-info;
    }

    &-warning &-icon path,
    &-confirm &-icon path {
        fill: @colors-warning;
    }

    &-error &-icon path {
        fill: @colors-danger;
    }

    &-info,
    &-success,
    &-warning,
    &-error,
    &-normal,
    &-confirm {
        .@{modal-prefix}-footer.@{modal-prefix}-method {
            &::after {
                display: none;
            }
        }
    }

    &-close {
        position: absolute;
        z-index: 100;
        top: @modal-close-top-margin;
        right: @modal-close-right-margin;
        display: block;
        width: 10px;
        height: 10px;
        padding: 0;
        margin-top: @modal-panel-padding;
        margin-right: @modal-panel-padding;

        &:hover > svg {
            fill: @modal-close-icon-hover-color;
        }

        > svg {
            fill: @modal-close-icon-color;
        }
    }

    .@{modal-prefix}-moveable {
        .@{modal-prefix}-title {
            cursor: move;
        }
    }

    > .@{card-prefix} {
        font-size: @modal-font-size;
        border-radius: @modal-border-radius;
        border: @modal-border-width solid @modal-border-color;
        color: @modal-color;

        &-hover:hover,
        &-shadow {
            box-shadow: @modal-box-shadow;
        }

        > .@{card-prefix}-header {
            padding: @modal-header-padding;
            border-radius: @modal-border-radius @modal-border-radius 0 0;
            background: @modal-header-bg;
        }

        > .@{card-prefix}-body {
            padding: @modal-body-padding;
        }

        .@{modal-prefix}-body {
            padding: @modal-icon-body-padding;
        }

        > .@{card-prefix}-footer {
            padding: @modal-footer-padding;
            border-radius: 0 0 @modal-border-radius @modal-border-radius;
            background: @modal-footer-bg;
        }

        > .@{card-prefix}-header,
        > .@{card-prefix}-footer {
            &::after {
                width: @modal-divider-width;
                height: @modal-divider-height;
                background: @modal-divider-color;
            }
        }
    }
}
