@import './variables.less';
@import './themes/@{ethan-theme}.less';

@popover-prefix: ~'@{ethan-prefix}-popover';

.@{popover-prefix} {
    font-size: 12px;
    line-height: 1.5;
    position: absolute;
    z-index: 1001;
    padding: 10px 0;

    .popover-animation();

    .@{popover-prefix}-inner {
        background: #fff;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        border-radius: 2px;

        &-content {
            padding: 8px 16px;
            box-sizing: border-box;
        }
    }

    .@{popover-prefix}-title {
        font-size: 14px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.75);
        margin: 0;
        padding: 8px 16px;
        position: relative;
        border-bottom: 1px solid #eee;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .@{popover-prefix}-arrow {
        position: absolute;
        box-sizing: border-box;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 19px;

        &-content {
            background-color: #fff;
            transform: rotate(45deg);
            width: 12px;
            height: 12px;
        }
    }

    &[data-placement^='top'] {
        .@{popover-prefix}-arrow {
            bottom: 3px;
            height: 9px;

            &-content {
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
                margin-top: -15px;
            }
        }

        .@{popover-prefix}-inner {
            margin-bottom: 2px;
        }
    }

    &[data-placement='top'] {
        // 由于设置了translate 所以transform-origin不是center bottom;
        // 同理下面的placement 需要推算transform-origin

        // 配合getPosition理解

        // 假设Popover的Children为Button Popover与Button同宽高
        // 在没设置transform时  Popover经过getPosition的计算，
        // Popover位于Button的第2,4象限
        // 相当于Button与Popover重叠 Popover在Button的右边 且多出Button的一半
        // 这时候 设置transform-origin使Popover的缩放点在Button的中心
        // 从Button的中心开始缩放
        // 然后设置translate 使Popover位于Button的正上方
        // 如果将transform-origin设为left 则会从Button的中心点缩放 缩放尺度更大
        // transform-origin: left;
        // 下面的设置将从Button的
        transform-origin: left top;
        transform: translate(-50%, -100%);

        .@{popover-prefix}-arrow {
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &[data-placement='top-right'] {
        transform-origin: right top;
        transform: translateY(-100%);

        .@{popover-prefix}-arrow {
            right: 10px;
        }
    }

    &[data-placement='top-left'] {
        transform-origin: left top;
        transform: translateY(-100%);

        .@{popover-prefix}-arrow {
            left: 10px;
        }
    }

    &[data-placement^='bottom'] {
        .@{popover-prefix}-arrow {
            top: 2px;
            height: 9px;

            &-content {
                box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.05);
                margin-bottom: -15px;
            }
        }

        .@{popover-prefix}-inner {
            margin-top: 2px;
        }
    }

    &[data-placement='bottom'] {
        transform-origin: left top;
        transform: translateX(-50%);

        .@{popover-prefix}-arrow {
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &[data-placement='bottom-left'] {
        transform-origin: left top;

        .@{popover-prefix}-arrow {
            left: 10px;
        }
    }

    &[data-placement='bottom-right'] {
        transform-origin: right top;

        .@{popover-prefix}-arrow {
            right: 10px;
        }
    }

    &[data-placement^='left'] {
        padding: 0;

        .@{popover-prefix}-arrow {
            right: 3px;
            width: 9px;
            height: 19px;

            &-content {
                box-shadow: 2px -2px 5px rgba(0, 0, 0, 0.05);
                margin-left: -15px;
            }
        }

        .@{popover-prefix}-inner {
            margin-right: 12px;
        }
    }

    &[data-placement='left'] {
        transform-origin: left top;
        transform: translate(-100%, -50%);

        .@{popover-prefix}-arrow {
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &[data-placement='left-bottom'] {
        transform-origin: left top;
        transform: translate(-100%, -100%);

        .@{popover-prefix}-arrow {
            bottom: 10px;
        }
    }

    &[data-placement='left-top'] {
        transform-origin: left top;
        transform: translateX(-100%);

        .@{popover-prefix}-arrow {
            top: 10px;
        }
    }

    &[data-placement^='right'] {
        padding: 0;

        .@{popover-prefix}-arrow {
            left: 3px;
            width: 9px;
            height: 19px;

            &-content {
                box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.05);
                margin-right: -15px;
            }
        }

        .@{popover-prefix}-inner {
            margin-left: 12px;
        }
    }

    &[data-placement='right'] {
        transform-origin: left top;
        transform: translate(0, -50%);

        .@{popover-prefix}-arrow {
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &[data-placement='right-top'] {
        transform-origin: left top;

        .@{popover-prefix}-arrow {
            top: 10px;
        }
    }

    &[data-placement='right-bottom'] {
        transform-origin: left top;
        transform: translateY(-100%);

        .@{popover-prefix}-arrow {
            bottom: 10px;
        }
    }

    // ------------------------------confirm----------------------------------------

    &-confirm {
        .@{popover-prefix}-footer {
            text-align: right;
            margin-bottom: 4px;
        }

        .@{popover-prefix}-mention .@{popover-prefix}-alert {
            background: transparent;
            border: none;
            color: @text-color;
            box-shadow: none;
            margin-bottom: 8px;
            padding: 8px;
            font-size: @font-size-base;
        }
    }

    &-text {
        display: inline-block;
        max-width: @popover-text-max-width;
        padding: @common-content-text-padding;
    }

    // inputborder
    &-input-error {
        color: @form-feedback-invalid-color;

        .@{popover-prefix}-arrow {
            border-color: @state-danger-border;
        }

        .@{popover-prefix}-inner {
            border: none;
            // box-shadow: 0 2px 8px 0 @state-danger-border, 0 2px 8px rgba(0, 0, 0, 0.15);
            box-shadow: 0 2px 8px 0 @state-danger-border;
        }
    }
}
