@import './variables.less';
@import './themes/@{ethan-theme}.less';

@swiper-prefix: ~'@{ethan-prefix}-swiper';

.@{swiper-prefix} {
    position: relative;
    overflow: hidden;
    height: 100%;

    &-container {
        height: 100%;
        position: relative;
    }

    &-left,
    &-right {
        width: 35px;
        height: 35px;
        cursor: pointer;
        position: absolute;
        z-index: 2;
        top: 50%;
        transform: translateY(-50%);
        background-color: #000;
        border-radius: 50%;
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: opacity 0.2s ease-in;

        & > svg {
            fill: #fff;
            width: 50%;
            height: 50%;
        }
    }

    &-left {
        left: 2px;
    }

    &-right {
        right: 2px;
    }

    &-dots {
        width: 100%;
        text-align: center;
        list-style: none;
        z-index: 10;
        position: absolute;
        line-height: 1;
        bottom: 10px;
        left: 0;
        padding: 0;

        li {
            display: inline-block;
            background: #fff;
            width: 16px;
            height: 3px;
            margin: 0 3px;
            opacity: 0.3;
            border-radius: 1px;
            transition: all 0.5s ease-in-out;
            cursor: pointer;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    &-active {
        width: 25px !important;
        opacity: 1 !important;
    }
}
