@import './variables.less';
@import './themes/@{ethan-theme}.less';

@tag-prefix: ~'@{ethan-prefix}-tag';

//
// Alerts
// --------------------------------------------------

// Base styles
// -------------------------

.@{tag-prefix} {
    position: relative;
    display: inline-block;
    padding: @tag-padding-y @tag-padding-x;
    margin: 0 @tag-space;
    border: 1px solid transparent;
    background: @tag-bg-color;
    border-radius: @tag-border-radius;
    color: @tag-color;
    font-size: @tag-font-size;
    font-weight: @tag-font-weight;
    line-height: 1.4;
    transition: all 0.3s;

    @keyframe-zoom-out: ~'@{tag-prefix}-kf-zoom-out';

    @keyframes @keyframe-zoom-out {
        0% {
            transform: scale(1, 1);
        }

        30% {
            transform: scale(1.2, 1.2);
        }

        100% {
            transform: scale(0, 0);
        }
    }

    &-closing {
        animation: @keyframe-zoom-out 0.3s forwards ease-in-out;
    }

    &-inline {
        display: inline-block;
        vertical-align: top;
    }

    &-disabled {
        cursor: not-allowed;
    }

    &-input {
        display: inline-block;
        width: 100px;
        height: @tag-input-height;
        margin: 0 0 0 @tag-space;
        font-size: @tag-font-size;
        vertical-align: middle;

        input {
            padding: @tag-input-padding-y @tag-input-padding-x;
        }
    }

    &-close-icon {
        display: inline-block;
        width: @tag-icon-width;
        margin: 0 0 0 @tag-close-left;

        &:not(.@{tag-prefix}-disabled) {
            cursor: pointer;
        }

        &:hover svg {
            fill: @tag-close-hover-color;
        }

        svg {
            fill: @tag-close-color;
            position: absolute;
            top: 50%;
            width: @tag-icon-width;
            transform: translateY(-50%);
        }
    }

    .@{tag-prefix}-close-loading {
        display: inline-block;
        margin: 0 0 0 @tag-close-left;
    }

    .tag-variant(@background) {
        border-color: transparent;
        background-color: @background;
        color: #fff;
    }

    &-default {
        border-color: @tag-border-color;
    }

    &-success {
        .tag-variant(@tag-success-bg);

        color: @tag-success-color;
    }

    &-info {
        .tag-variant(@tag-info-bg);

        color: @tag-info-color;
    }

    &-warning {
        .tag-variant(@tag-warning-bg);

        color: @tag-warning-color;
    }

    &-danger {
        .tag-variant(@tag-danger-bg);

        color: @tag-danger-color;
    }
}
